@keyframes flash {
  from {
    opacity: 1;
	}

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.flash {
  animation-name: flash
}
