@keyframes hinge {
  from {
    transform-origin: top-left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  20%, 40% {
    transform-origin: top-left;
    transform: rotate(0, 0, 1, 80deg);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  60%, 80% {
    transform-origin: top-left;
    transform: rotate(0, 0, 1, 20deg);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  animation-name: hinge
}
