@keyframes pUp {
  0% {
    transform-origin: 0 0;
    transform: perspective(800px) rotateX(0deg);
  }

  100% {
    transform-origin: 0 0;
    transform: perspective(800px) rotateX(180deg);
  }
}

.pUp {
  animation-name: pUp
}
