@keyframes bounceDown {
  from {
    animation-timing-function: cubic-bezier(0.200, 0.620, 0.340, 1.000);
  }

  0% {
    transform: translate3d(0, -2000px, 0);
  }

  60% {
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceDown {
  animation-name: bounceDown
}
